.wrapper {
  background: rgb(236, 239, 243);
}
.poolOne {
  //min-height: 600px;
  //min-width: 300px;
  background: rgb(236, 239, 243);
}
.poolTwo {
  min-height: 600px;
  background: antiquewhite;
}
.poolThree {
  min-height: 600px;
  background: bisque;
}

.activity {
  display: flex;
}

.task {
  display: flex;
}

.activityAndTaskWrapper {
  border-right: 1px dashed rgb(193, 193, 193);
}

.divider {
  height: 5px;
  background: white;
}

.userStoryWrapper {
  display: flex;
  border-right: 1px dashed rgb(193, 193, 193);
}

.userStory {
  display: flex;
  flex-direction: column;
}